.navbar { position: fixed; 
    top: 0; 
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    padding: 15px 40px; 
    background: #111; 
    color: #fff; 
}
.nav-links { 
    list-style: none; 
    display: flex; 
    gap: 20px; 
}
.nav-links li {
     cursor: pointer; 
    }

