.project-grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); 
    gap: 20px; }
.project-card { 
    background: white; 
    padding: 20px; 
    border: 1px solid black;
    border-radius: 20px;
    
     box-shadow: 0 8px 25px rgba(0, 0, 0, 0.7);
     
}
.links { display: flex; gap: 15px; margin-top: 10px; }
a{
    /* border: 1px solid black; */
    padding: 3px;
    /* background-color: #e6eaed; */
    border-radius: 5px;
    text-decoration: none;
    
}

.project-card ul li {
    list-style-type: none;
    background-color: #e6eaed;
    padding: 5px;
    border-radius: 5px;

}