.skills-grid { 
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 15px;
    
    }
.skill-box { background: black; 
    color: white; 
    padding: 15px; 
    text-align: center; 
    border-radius: 20px;
}