* {
   margin: 0;
   padding: 0; 
   box-sizing: 
   border-box;
   }
body { 
  font-family: Arial, sans-serif; 
}
.section {
   padding: 100px 20px; 
   max-width: 1100px; 
   margin: auto; 
  }
.gray { 
  background: #e6eaed;
  border-radius: 20px; 
}